d{% extends 'base.html.twig' %}

{% block title %}{{ product.name }} - La Miche Boutique{% endblock %}

{% block content %}
<h1>{{ product.name }}</h1>
<div class="row">
    <div class"col-md-4">
    <img src="/uploads/{{ product.illustration }}" alt"{{ product.name }}">
    </div>
    <div class"col-md-8">
    <h1>{{ product.name }}<
    </div>

{{ dump(product) }}
{% endblock %}
